@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i');
.App{
  scroll-behavior: smooth;
  font-family: "Asap", sans-serif;
}

.App h1{
  font-weight: 600;
}

/* personal CSS */

.profpic{
  padding: 20px;
  width: 300px;
  height: 300px;
  margin: 0;
  border-radius: 50%;
}

.proj-button{
  width: 300px;
  height: 300px;
  margin: 10px 10px 20px 0px;
  margin-bottom: 20px;
  font-size: large;
  border-radius: 12px;
  background-color: rgb(156, 156, 156);
  color: white;
  border: 0;
  transition: 0.4s ease;
}

.proj-button h2{
  opacity: 0;
  transition: 0.4s ease;
}
.proj-button:hover h2{
  opacity: 1;
  transition: 0.4s ease;
}
.proj-button p{
  opacity: 0;
  transition: 0.4s ease;
}
.proj-button:hover p{
  opacity: 1;
  transition: 0.4s ease;
}

.proj-button:hover{
  transform: scale(1.15);
  transition: transform .4s;
}

#Waddup.proj-button{
  background-size: cover;
  background-image: url('https://cdn.discordapp.com/attachments/989301099422949466/1002129542909014066/unknown.png');
}
#Waddup.proj-button:hover{
  background-color: #4E6190;
  background-image: none;
}
#BMCalc.proj-button{
  background-size: cover;
  background-image: url('https://cdn.discordapp.com/attachments/989301099422949466/1002129880131055667/unknown.png');
}
#BMCalc.proj-button:hover{
  background-color: #7579E7;
  background-image: none;
}
#SleepDisorder.proj-button{
  background-size: cover;
  background-position: 50%;
  background-image: url('https://cdn.discordapp.com/attachments/989301099422949466/1001764375700459540/unknown.png');
}
#SleepDisorder.proj-button:hover{
  background-color: #0275d8;
  background-image: none;
}
#StayIn.proj-button{
  background-size: cover;
  background-image: url('https://cdn.discordapp.com/attachments/989301099422949466/1001764606076788736/unknown.png');
}
#StayIn.proj-button:hover{
  background-color: #5cb85c;
  background-image: none;
}
#Gameboii.proj-button{
  background-size: cover;
  background-image: url('https://cdn.discordapp.com/attachments/989301099422949466/1001764606479433798/unknown.png');
}
#Gameboii.proj-button:hover{
  background-color: #292b2c;
  background-image: none;
}
#FFG.proj-button{
  background-size: cover;
  background-image: url('https://cdn.discordapp.com/attachments/989301099422949466/1001765024450224208/unknown.png');
}
#FFG.proj-button:hover{
  background-color: #3f51b5;
  background-image: none;
}
#WitchAhead.proj-button{
  background-size: cover;
  background-position: 100%;
  background-image: url('https://cdn.discordapp.com/attachments/989301099422949466/1001765226980593664/unknown.png');
}
#WitchAhead.proj-button:hover{
  background-color: #22307d;
  background-image: none;
}

.scrollBtn{
  padding: 15px;
  overflow: hidden;
  height: 60px;
  margin-top: -100px;
  margin-bottom: -200px;
  font-size: 20px;
  border-radius: 12px;
  background-color: rgb(67, 132, 217);
  color: white;
  border: 0;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
  transition: 0.4s ease;
}
.scrollBtn:hover{
  transform: scale(1.15);
  transition: 0.4s ease;
}

#welcome{
  margin-bottom: -10px;
}

#projects{
  margin-top: -10px;
}

.button-text{
  margin-top: 100px;
}

.media-button{
  width: 80px;
  height: 20px;
}

.icon-button{
  width: 20px;
  height: 20px;
  margin: 5px;
}

.personal-button{
  border-radius: 10px;
  margin: 5px;
  border: 0;
  background-color: rgb(67, 132, 217);
  color: white;
  padding: 10px;
  transition: ease 0.3s;
}

.personal-button:hover{
  transform: scale(1.18);
  transition: ease 0.3s;
}

.pic{
  padding: 20px;
  width: 320px;
  height: 350px;
}

.skill-pic{
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  transition: 0.3s ease;

}
.skill-pic:hover{
  transform: scale(1.15);
  transition: 0.3s ease;
}

.skillCard{
  padding: 10px;
  transition: 0.3s ease;
  margin-top: 20px;
}

.skillCard:hover{
  transition: 0.3s ease;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
  transform: translateY(-10px);
}

.skills{
  background-color: rgb(231, 231, 231);
}

.card-name{
  border: #292b2c;
  background-color: black;
  width: 500px;
  margin-top: -65px;
}

.display-proj{
  border-radius: 15px;
}

/* Scrapping CSS */
.a-box {
  display: inline-block;
  width: 240px;
  text-align: center;
}

.img-container {
    height: 230px;
    width: 200px;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
}

.img-container img {
    /* transform: skew(0deg, -13deg); */
    height: 280px;
    margin: -5px 0px 0px -45px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  margin: -110px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 2px 0px 10px 0px;
  color: rgb(63, 125, 206);
  font-size: 18px;
}

.submitBtn{
  transition: 0.4s ease;
}
.submitBtn:hover{
  transform: scale(1.17);
  transition: 0.4s ease;
}

.projDisplay{
  max-height: 40rem;
}

/* ProjButton */
.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}


/* Animate on Scroll */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}